Clover_Install_Log.txt
APPLE/
BOOT/
CLOVER/*

!CLOVER/ACPI/

!CLOVER/kexts/
CLOVER/kexts/*
!CLOVER/kexts/Lib/
!CLOVER/kexts/Other/
!CLOVER/kexts/10.11/

CLOVER/themes/*
!CLOVER/themes/Mavs Style
!CLOVER/themes/tonymacx86

!CLOVER/config.plist
!CLOVER/config_backup.plist

# =========================
# Operating System Files
# =========================

# OSX
# =========================

*.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
